[submodule "submodules/hrnet"]
	path = submodules/hrnet
	url = https://github.com/HRNet/HigherHRNet-Human-Pose-Estimation.git
[submodule "submodules/cocoapi"]
	path = submodules/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
[submodule "submodules/crowdpose"]
	path = submodules/crowdpose
	url = https://github.com/Jeff-sjtu/CrowdPose.git
