[submodule "submodules/higher-hrnet"]
	path = submodules/higher-hrnet
	url = https://github.com/HRNet/HigherHRNet-Human-Pose-Estimation.git
	ignore = dirty
[submodule "submodules/unitrack"]
	path = submodules/unitrack
	url = https://github.com/Zhongdao/UniTrack.git
	ignore = dirty
