[submodule "submodules/higher-hrnet"]
	path = submodules/higher_hrnet
	url = https://github.com/HRNet/HigherHRNet-Human-Pose-Estimation.git
	ignore = dirty
[submodule "submodules/unitrack"]
	path = submodules/unitrack
	url = https://github.com/Zhongdao/UniTrack.git
	ignore = dirty
[submodule "submodules/hrnet"]
	path = submodules/hrnet
	url = https://github.com/leoxiaobin/deep-high-resolution-net.pytorch.git
	ignore = dirty
