numpy
scipy
pandas
matplotlib
seaborn
tqdm
opencv-python
scikit-learn
scikit-image
tslearn
tensorboardX
torch==2.1.0+cu121
torchvision==0.16.0+cu121
pytorch-lightning
pycocotools
Cython
easydict==1.9
PyYAML
json-tricks
yacs
cffi
munkres
shapely
motmetrics
colorama
loguru
thop
tabulate
xlrd
openpyxl
optuna
optuna-dashboard
